
#container1 {
    background-color: #3F3261;
    width: 400px;
    height: 400px;
}

#container2 {
    background-color: #C7BCE6;
    width: 250px;
    height: 250px;
}

#parag {
    background-color: #9175E0;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

#container3 {
    width: 400px;
    height: 100px;
    background-color: #544F61;

}

#container4 {
    width: 400px;
    height: 50px;
    background-color:#705AAD;
}
